<% if (!gallery.length) { %>
  <h3>No photos found.</h3>
<% } else { %>
  <div class="toggle-buttons">
    <button id="toggleShuffling">Enable Shuffling</button>
    <button id="toggleTrafficCop">Enable TrafficCop</button>
    <button id="toggleAnimation">Enable Animation</button>
  </div>
  <ul class="thumbnails">
    <% _.each(gallery, function(thumbnail, count) { %>
      <% if (count < 12) { %>
    <li>
      <a href="#photos/<%= thumbnail.id %>" class="thumbnail">
        <img src="<%= thumbnail.dataUri %>" alt="">
      </a>
    </li>
      <% } %>
    <% }); %>
  </ul>
<% } %>